name: End-to-end tests
on:
  schedule:
    # Runs at 10h everyday
    - cron: '0 10 * * *'
  workflow_dispatch:
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Cypress
        uses: cypress-io/github-action@v6
        with:
          working-directory: docs-e2e-testing
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
