.wrapper {
  padding-bottom: 32px;
}

.sponsorsHeading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.description {
  font-size: 1rem;
  text-align: center;
  padding: 0 16px 20px;
}

.bronzeHeading {
  display: flex;
  justify-content: center;
}

.sponsorWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.bronzeSponsor {
  text-align: center;
}

.wantLogo {
  font-size: 1rem;
  text-align: center;
  padding: 16px 16px 20px;
  font-style: italic;
}

.pastSponsorHeading {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: -1px;
}
